<!-- ChatGPT Code-->
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container home-content">
  <img src="{% static 'images/Homepage/pexels-anete-lusina-4793215.jpg' %}"
       class="main-image img-fluid mx-auto d-block"
       alt="Homepage Main Image - Man Exercising with Weights">

  <p class="leading-p mx-auto d-block">
    Welcome to the <strong>Working Out Gym's</strong> website!
    Here you will find that we offer a range of services and products that we have to offer.
    We hope that you will check out our Fitness and Nutrition Plans and the Merchandise page,
    where you will find all sorts of great products to aid your new fitness regime!
  </p>
</div>

<div class="container mt-5">
  <div class="card p-4">
    <h3 class="mb-3 text-center">Send feedback</h3>

    <form method="post">
      {% csrf_token %}
      {{ feedback_form|crispy }}
      <button type="submit" class="btn btn-primary w-100">Send</button>
    </form>
  </div>
</div>

<div class="container mt-5 mb-5"></div>
{% endblock %}
