.heading {
  font-family: "Boldonse"; system-ui; 
  font-weight: 700;
  font-size: 3rem;
}

body {
    font-family: "PT Serif", serif;
}

.leading-p {
  font-size: 1.4rem;
}

.brand {
    font-weight: 700;
    font-size: 1.4rem;
}

.green-o {
    color: #2e7d32;
}

.thin {
    font-weight: 300;
}

.main-bg {
    background-color: white;
}

.dark-bg {
    background-color: #3b3b3b;
}

.navbar-heading {
  font-family: "Boldonse"; system-ui; 
  font-weight: 700;
  font-size: 4rem;
}

.nav-link {
    color: black;
    font-family: "Boldonse"; system-ui; 
}


/* Navbar Code from Project 3 */

.navbar-light .navbar-nav .nav-link.active {
    font-weight: 700;
    color: white;
}