.heading {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 3rem;
}

body {
    font-family: 'Playfair Display', sans-serif;
}

.leading-p {
  font-size: 1.4rem;
}

.brand {
    font-weight: 700;
    font-size: 1.4rem;
}

.green-o {
    color: #2e7d32;
}

.thin {
    font-weight: 300;
}

.main-bg {
    background-color: #f5fdf7;
}

.dark-bg {
    background-color: black;
}